@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

[data-theme="light"] body {
  background-color: #fff;
  color: #000;
}

[data-theme="dark"] body {
  background-color: #14161a;
  color: #fff;
}
[data-theme="light"] .rating {
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #14161a;
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
